<!DOCTYPE html><html lang="en"><head><style>
    body { background-color: black; color: goldenrod; }
    pre {
      white-space: pre-wrap; 
      overflow-wrap: anywhere;
      overflow-x: auto;
      overscroll-behavior-x: auto;
    }
    </style></head><body><pre>
A MiniJinja error occurred

Could not render template:
template not found: tried to include non-existing template "styles/_includes/highlights.css" (in styles/main.on.css:1)</p>
</pre></body></html>