::marker {
  color: var(--default-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--accent-color);
}

abbr {
  color: var(--accent-color);
  font-style: italic;
}

aside {
  margin-left: 20vw;
  font-style: italic;
  border-left: 3px solid var(--faded-reverse-color);
  padding: var(--default-padding);
}

audio {
  max-width: var(--default-width);
}

b {
  font-weight: var(font-weight-900);
}


bitty-7-0 {
  display: block;
}


blockquote {
  margin: var(--large-margin);
  padding: var(--default-padding);
  background-color: var(--faded-reverse);
}

button {
  /*
  background-color: var(--faded-match);
  border: var(--reverse-border);
  border-radius: var(--xsmall-radius);
  color: var(--reverse);
  */
  font: inherit;
  cursor: pointer;
}

body {
  font-family: system-ui, sans-serif; 
}

canvas {
  display: block;
  max-width: 100%;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: 900;
}

cite {
  font-style: italic;
}

code {
  font-family: Hack, monospace;
}

dd {
  margin-left: var(--default-margin);
}

del {
  text-decoration: line-through;
}

dfn {
  font-style: italic;
}

em {
  font-style: italic;
}

embed {
  max-width: 100%;
}

fieldset {
  border-radius: var(--default-radius);
}

figcaption {
  background-color: var(--reverse-color);
  color: var(--match);
  font-size: var(--small-font);
  padding: var(--default-padding);
  text-align: var(--alight-center);
}

figure {
  max-width: 100%;
}

footer {
  color: var(--default-color);
  font-size: var(--small-font);
  margin-bottom: var(--default-margin);
  margin-inline: auto;
  margin-top: var(--xlarge-margin);
  text-align: var(--align-center);
  width: var(--default-width);
}

h1 {
  color: var(--heading-color);
  border-bottom: var(--accent-border);
  font-size: var(--xxlarge-font-size);
  font-weight: var(--font-weight-900);
  line-height: var(--xxsmall-line-height);
  overflow-wrap: break-word;
  text-wrap: balance;
}

h2 {
  --flow-space: var(--xxxlarge-margin);
  color: var(--heading-color);
  border-bottom: var(--accent-border);
  font-size: var(--xlarge-font-size);
  font-weight: var(--font-weight-900);
  line-height: var(--xxsmall-line-height);
  margin-top: 7rem;
  overflow-wrap: break-word;
  text-wrap: balance;
}

h3 {
  --flow-space: var(--xxxlarge-margin);
  color: var(--heading-color);
  font-size: var(--large-font-size);
  font-weight: var(--font-weight-900);
  line-height: var(--xxsmall-line-height);
  overflow-wrap: break-word;
  text-wrap: balance;
}

h4 {
  --flow-space: var(--xxxlarge-margin);
  color: var(--heading-color);
  font-size: var(--default-font-size);
  font-weight: var(--font-weight-900);
  line-height: var(--xxsmall-line-height);
  overflow-wrap: break-word;
  text-wrap: balance;
}

h5 {
  --flow-space: var(--xxxlarge-margin);
  color: var(--heading-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-weight-700);
  line-height: var(--xxsmall-line-height);
  overflow-wrap: break-word;
  text-wrap: balance;
}

h6 {
  --flow-space: var(--xxxlarge-margin);
  color: var(--heading-color);
  font-size: var(--small-font-size);
  font-style: var(--italic);
  font-weight: var(--font-weight-700);
  line-height: var(--xxsmall-line-height);
  overflow-wrap: break-word;
  text-wrap: balance;
}

header {
  margin-bottom: var(--small-margin);
  margin-inline: auto;
  margin-top: var(--xsmall-margin);
  width: var(--default-width);
}

hgroup {
  margin-top: var(--large-margin);
  padding-bottom: var(--large-padding);
}

hr {
  border: none;
  border-top: 3px double var(--faded-reverse-color);
  color: var(--reverse-color);
  overflow: visible;
  text-align: var(--align-center);
  height: 5px;
}

hr::after {
  background: var(--background-color);
  content: "ยง";
  padding-inline: var(--large-padding);
  position: relative;
  top: -13px;
}

i {
  font-style: var(--italic);
}

iframe {
  max-width: 100%;
  border: var(--accent-border);
}

img {
  display: block;
  max-width: 100%;
}

input {
  font: inherit;
}

ins {
  font-style: var(--italic);
}

kbd {
  background-color: var(--faded-reverse-color);
  border: var(--faded-reverse-color);
  border-radius: var(--xsmall-radius);
  font-family: monospace;
  font-size: var(--small-font);
  padding-inline: var(--xxsmall-padding);
}

legend {
  font-weight: var(--weight-900);
}

li > :where(:not(:first-child)) {
  margin-top: var(--flow-space, var(--default-flow));
}

map {
  max-width: 100%;
}

mark {
  background-color: var(--faded-accent);
}

meter {
  padding-inline: var(--default-padding);
}

object {
  max-width: 100%;
}

ol > :where(:not(:first-child)) {
  margin-top: var(--flow-space, var(--default-flow));
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

picture {
  display: block;
  max-width: 100%;
}

pre {
  /*
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  overflow-x: auto;
  overscroll-behavior-x: auto;
  */
}

progress {
  padding-inline: var(--small-padding);
}

q {
  font-style: var(--italic);
}

samp {
  font-weight: var(--weight-900);
}

select {
  font: inherit;
  padding-inline: var(--small-padding);
}

small {
  font-size: var(--small-font);
}

summary {
  font-weight: var(--weight-900);
}

svg {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  font: inherit;
  max-width: 100%;
}

th {
  font-weight: var(--weight-900);
}

u {
  text-decoration: var(--accent-faded) var(--wavy) var(--underline);
}

ul > :where(:not(:first-child)) {
  margin-top: var(--flow-space, var(--default-flow));
}

var {
  font-weight: var(--weight-900);
}

video {
  display: block;
  max-width: 100%;
}




