h2 {
  --flow-space: var(--xxxlarge-margin);
  color: var(--heading-color);
  border-bottom: var(--accent-border);
  font-size: var(--xlarge-font-size);
  font-weight: var(--font-weight-900);
  line-height: var(--xxsmall-line-height);
  margin-top: 7rem;
  overflow-wrap: break-word;
  text-wrap: balance;
}