hr {
  border: none;
  border-top: 3px double var(--faded-reverse-color);
  color: var(--reverse-color);
  overflow: visible;
  text-align: var(--align-center);
  height: 5px;
}

hr::after {
  background: var(--background-color);
  content: "ยง";
  padding-inline: var(--large-padding);
  position: relative;
  top: -13px;
}