* {
  margin: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  --load-hider: 0;
}
.load-hider {
  opacity: var(--load-hider);
}
html {
  background-color: var(--background-color);
}
body {
  background-color: var(--background-color);
  color: var(--default-color);
  font-family: system-ui, sans-serif;
  font-size-adjust: 0.5;
  font-size: var(--default-font-size);
  line-height: var(--default-line-height);
}
